body {
    background-image: url("../../public/images/background.jpg");
    padding-top: 70px;
}

.jumbotron{
    background-color: black;
    color: white;
}

.panel-body{
    background-color: black;
    color: white;
}


.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

.jumbotron{
    background-color: black;
    color: black;
    background-image: url("../images/jumbotronbackground.jpg");
    background-size: cover;
    height: 350px;
    font-weight: bold;
    padding-top: 10px;

}

.panel-body{
    background-color: black;
    color: white;
}
